.accordion-panel {
    width: 1050px;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    font-family: cursive;
    border-radius:10px;
}

.accordion-panel:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

.selected:after {
    content: "\2212";
}

#about-panel div:first-child .accordion-panel {
    background-color: goldenrod;
}
#about-panel div:first-child .accordion-panel:hover {
    background-color: rgba(112, 93, 9, 0.925);
}
#about-panel div:nth-child(2) .accordion-panel{
    background-color: blueviolet;
}
#about-panel div:nth-child(2) .accordion-panel:hover {
    background-color: rgb(61, 12, 107);
}
#about-panel div:nth-child(3) .accordion-panel{
    background-color: green
}
#about-panel div:nth-child(3) .accordion-panel:hover{
    background-color: rgba(8, 97, 8, 0.863)
}
.panel-text {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    width: 1050px;
}

div p{
    height: auto;
    width: 1030px;
    background-color: rgba(0,0,0,0.4);
    /* margin: auto; */
    /* text-align: center; */
    color: white;
    border-radius: 10px;
    /* margin-top: 20px; */
    /* transform-style: preserve-3d; */
    /* transition: all 1.0s linear; */
    padding: 10px;
}

.progress-check {
    border-radius: 10px;
    background-color: aqua;
}